################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Xamarin.SecureAccountStore/.vs

/Xamarin.SecureAccountStore/bin
/Xamarin.SecureAccountStore/obj
/Xamarin.SecureAccountStore/packages
